

  <li>
    <a href="https://scholar.google.com/citations?user=D8zjVacAAAAJ&hl=en&oi=ao">
      <i class="fa fa-google" aria-hidden="true"></i> Google Scholar
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/ellyn-butler/">
      <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
    </a>
  </li>

<li><a href="https://github.com/butellyn" target = _blank><i class="fa  fa-github"></i> GitHub</a></li>

<li><a href="https://twitter.com/EllynRButler" target = _blank><i class="fa fa-twitter-square"></i> Twitter</a></li>
